<Counter @multiple={{this.multiple}} />
{{log this.multiple}}
<button type="button" {{on "click" this.double}}>double</button>
{{!-- <p>{{this.multiple}}</p>
<button type="button" {{on "click" this.double}}>double</button> --}}